<p class="h3 display-6 mt-5">Daftar Transaksi</p>

<table class="table table-secondary mt-3" style="box-sizing: border-box;">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Tanggal</th>
            <th scope="col">Grand Total</th>
            <th scope="col">Aksi</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of listTransaksi">
            <td class="table-light">{{item._id}}</td>
            <td class="table-light">{{item.tanggal}}</td>
            <td class="table-light">{{item.grandTotal}}</td>
            <td class="table-light">
                <button class="btn btn-outline-dark text-center" style="background-color: black; color: white;">Detail</button>
            </td>
        </tr>
    </tbody>
</table>

<hr class="mt-lg-5">

<p class="h3 display-6 mt-lg-5">Buat Transaksi Baru</p>

<app-transaksi></app-transaksi>